body {
    font-family: sans-serif;
}
hr {
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    width: 85%;
    margin-left: 0;
    background-color: black;
    border-color: black;
}
.container {
    margin-inline: auto;
    border-style: solid;
    width: 85%;
    padding: 35px;
}
.title {
    margin-bottom: 5px;
}
.profession {
    color: green;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 2.5px;
}
.sub-pro {
    color: blue;
    margin-top: 2.5px;
    font-weight: bold;
}
.sub-exp {
    margin-bottom: 2.5px;
}
ul {
    margin-top: 2.5px;
}
span {
    font-weight: bold;
}
